# Server
PORT=3000

FRONTEND_URL=http://localhost:5173

DB_NAME=defaultdb
DB_USER=avnadmin
DB_HOST=mysql-torres-matitorresnob-74.b.aivencloud.com
DB_PORT=19647
DB_SSL=true
DB_CA_PATH=./certs/aiven-ca.pem
# "JWT_SECRET=MTLGMVG" copiar tmb