PORT=3000
FRONTEND_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_NAME=DSW-hoteleria
DB_USER=root
DB_PASSWORD=
DB_SSL=false
DB_CA_PATH=./certs/aiven-ca.pem
JWT_SECRET=change-me
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@hotel.local
ADMIN_PASSWORD=admin123
